* {
    font-family: 'Comfortia', cursive;
    color: white;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #d2cfcf;
}

body {
    background: #202020;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* HEADER MENU */
header {
    background: #0e2b48;
    height: 70px;
}

header * {
    color: #ffffff;
}

header h1 {
    margin-top: 12px;
}

header h1 a {
    color: #ffffff;
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 20px;
}

header ul li a:hover {
    background: #0c5493;
    transition: 0.5s;
    color: #ffffff;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background-color: #0c5493;
    color: #ffffff;
}

/* Footer */
.footer {
    background: #03111a;
    position: relative;
}

.footer .footer-section {
    padding: 22px;
}

.footer h4,
.footer h3 {
    color: white;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #ffffff;
}

.footer .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transform: all .3s;
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}

.footer .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1rem;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* SIDEBAR */
.sidebar {
    margin: 1rem 0;
    background: #0e304e;
    min-height: 400px;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

.sidebar ul a {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ffffff;
}

.sidebar ul a:hover {
    padding-left: 10px;
    transition: all 0.3s;
    color: #e108ba;
    text-decoration: none;
}

.posts {
    height: 100%;
    padding: 16px 30px;
}

.posts h2 {
    text-align: center;
    margin: 2rem 0 0 0.4rem;
}

.posts .title-table div {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 700;
}

.posts .post div {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.posts .post .red a {
    color: #25973c;
}

.posts .post .del a {
    color: #d61a1a;
}

.add-post form div {
    margin: 2rem 0;
}

.tox-tinymce {
    margin: 0 !important;
    border-radius: 4px !important;
}